
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
 } /* Eliminacion de margen padding y declaracion de fuentes para todo el archivo
  */

body {
    width: 100%;
    background-color: rgb(113, 12, 133);
} /* Propiedades de ancho y color de fondo de body */

.degreeCont{
    display: flex;
    border-radius: 30px;
    background: linear-gradient(140deg, rgba(44,142,176,1) 0%, rgba(251,142,254,0.5970763305322129) 55%);
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
} /* Asignacion de propiedades al contenedor que tendra como hijos los div para ingresar dinero disponible tipo de monto y monto gastos
 */
.topBar{
    display: flex;
    justify-content: space-between;
} /* Propiedades para barra con icono titulo y boton de modo noche */

img{
    width: 8rem;
    height: 6.5rem;   
    border-radius: 30px;
    margin-left: 2rem;
} /* Propiedades para imagen */

.welcome {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
}/*  Declaracion de color y tamaño tipografia de titulo en navbar */

.nightMode{
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin-right: 4rem;
} /* Contenedor modo noche, propiedades css */

.nightModeBtn{
    height: 6vh;
    width: 8vw; 
    background-color: transparent;
    border: dotted rgb(113, 12, 133);
    border-radius: 30px;
    color: white;
}  /* Boton modo noche, propiedades css */

.nightModeBtn:hover{
    background-color: rgba(121, 120, 120, 0.2);
    cursor: pointer;
} /* Boton modo noche, propiedades css para cuando se lo apunta con el mouse*/

.inputs{
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    padding: 1rem;
    border-radius: 30px;
} /* Propiedades para contenedor de 3 inputs de ingreso de datos */

.input1{
    border: dotted rgb(113, 12, 133);
    border-radius: 30px;
    padding: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
}  /* Div ingreso monto disponible y sus propiedades */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
} /* Eliminacion de flechas de incremento y decremento propias de input number */


input[type=number] {-moz-appearance:textfield} /* Eliminacion de flechas de incremento y decremento propias de input number puntualmente para firefox*/

.input2{
    border: dotted rgb(113, 12, 133);
    border-radius: 30px;
    padding: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 14vw;
}/*  Propiedades para input de tipo texto de tipo de gasto */

.focused2 {
    background-color: rgba(121, 120, 120, 0.2);
    border-bottom: solid black;
} /* Asignacion de propiedades para inputs cuando son seleccionados */

.inputMoney2.focused2{
    outline: none;
} /* Asignacion de propiedades para inputs cuando son seleccionados */
    
.inputMoney{
    background-color: transparent;
    height: 15vh;
    width: 40vh;
    border-radius: 30px;
    border: transparent;
    font-size: 2.5rem;
    color: white;
} /* Input ingreso monto disponible y sus propiedades */

.inputMoney.focused{
    outline: none;
} /* Quitar borde al estar seleccionado el input */

.inputMoney2{
    background-color: transparent;
    height: 15vh;
    width: 33vh;
    border-radius: 10px;
    border: transparent;
    font-size: 2.5rem;
    color: white;
    border-radius: 30px;
}/* Input ingreso monto gasto y sus propiedades */

.focused {
    background-color: rgba(121, 120, 120, 0.2);
    border-bottom: solid black;
} /* Aplicacion de colores de fondo de los input y bordes al ser clickeados */

.focused2{
    background-color: rgba(121, 120, 120, 0.2);
    border-bottom: solid black; 
}  /* Aplicacion de colores de fondo de los input y bordes al ser clickeados  */

.addExpBtn{ 
    height: 20vh;
    width: 20vh;
    border-radius: 30px;
    border: dotted rgb(113, 12, 133);
    background-color: transparent;
    font-size: 4rem;
    color: white;
} 
.addExpBtn:hover{
    background-color: rgba(121, 120, 120, 0.2);
    cursor: pointer;
    
} 
.divTitleExpenses{
    color: white;
    border-radius: 30px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    background: linear-gradient(140deg, rgba(44,142,176,1) 0%, rgba(251,142,254,0.5970763305322129) 55%); 
    margin: 0.5rem;
} /* Propiedades para el div titulo Gastos
 */
.totalBar {
    display: flex;
    justify-content: space-evenly;
    border-radius: 30px;
    padding: 1rem;
    background: linear-gradient(140deg, rgba(44,142,176,1) 0%, rgba(251,142,254,0.5970763305322129) 55%);
    margin: 0.5rem; 
    color: white; 
}/* Propiedades para el div de resumen de saldo y gastos
 */

.totalIncome{
    width: 25vw;
    height: 15vh;
    border: dotted rgb(113, 12, 133);
    border-radius: 30px;
    padding: 1rem;
    text-align: center;
} /* Propiedades para el div de ingresos totales
*/

.divTotalAmmount{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 3rem;
    
} /* Propiedades para el div de gastos totales
*/

.jsclass{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    font-size: 1.8rem;
    align-items: center;
    animation-name: anim;
    animation-duration: 1s;
} /* Propiedades de clase generada desde Js */

@keyframes anim {
    0%{transform: scale(0.2);}
    100%{transform: scale(1);}
}/*  Animacion de lineas de gastos creadas desde Js */

.trashBtn{
    height: 6vh;
    width: 4vw;
    font-size: 2rem;
    background-color: transparent;
    color: white;
    border: none;  
}/*  Estilado de boton trashcan generado con la linea de gasto */

.trashBtn:hover{
    cursor: pointer;
    color: red;
    font-size: 3rem;
}/*  Estilado de boton trashcan generado con la linea de gasto y su forma al apuntarlo */


/* GENERACION DE MEDIA QUERIES PARA RESPONSIVE */

@media (max-width: 1040px){

.welcome{
    font-size: 1rem;
    text-align: center;
} /* Se achica y centra titulo para el tamaño determinado */

.nightModeBtn{
    width: 19vw;
    height: 5vh;
}/*  Se achica boton modo noche */

img{
    width: 4rem;
    height: 3.5rem;
    margin: 0;
} /* Se achica imagen logo */

.nightMode{
    margin: 0;
} /* Se elimina margen de boton modo noche */

.inputs{
    padding: 0;
} /* Se elimina padding para el contenedor de inputs de gastos
 */
.input1{
    width: 22vw;
    height: 12vh;
    font-size: 0.5rem;
    padding: 7px;   
} /* Se achican las propiedades del div para ingresar total de dinero */

.input2{
    width: 19vw;
    height: 12vh;
    font-size: 0.5rem;
    padding: 5px;
} /* Se achica el input para ingresar el monto de gasto */

.addExpBtn{
    width: 8vw;
    height: 7vh;
    font-size: 1rem;
} /* Se reduce el tamaño del boton para agregar gasto */

.inputMoney{
    font-size: 1rem;
    height: 9vh;
    width: 22vh;
} /* Se achica el input para ingresar total disponible */

.inputMoney2{
    font-size: 1rem;
    height: 9vh;
    width: 18vh;
}/*  Se achica el input para ingresar monto gasto
 */
.totalIncome{
    height: 12vh;
    width: 42vh;
    font-size: 0.5rem;
    padding: 0.3rem;
} /* Se reduce el Div que contiene el resumen del total disponible */

.divTotalAmmount{
    font-size: 1.5rem;
    height: 8vh;
    width: 27vw;
    text-align: center;
}/*  Se achiica div dinero disponible */
}

@media (max-width: 464px){

 .welcomeMessage{
    font-size: 1rem;
} /* Se achica y centra titulo para el tamaño determinado */


h1{
    font-size: 0.5rem;
}

.nightModeBtn{
    width: 12vw;
    height: 5vh;
    font-size: 0.4rem;
} /*  Se achica boton modo noche */
.input1{
    width: 24vw;
    height: 8vh;
    font-size: 0.5rem;
    padding: 5px;   
    border-radius: 15px;
}/* Se achican las propiedades del div para ingresar total de dinero */
.input2{
    width: 17vw;
    height: 8vh;
    font-size: 0.5rem;
    padding: 5px;
    border-radius: 15px;  
}  /* Se achica el input para ingresar el monto de gasto */
.addExpBtn{
    width: 8vw;
    height: 5vh;
    font-size: 0.7rem;
}/* Se reduce el tamaño del boton para agregar gasto */

.inputMoney{
    font-size: 1rem;
    height: 5vh;
    width: 14vh;
}/* Se achica el input para ingresar total disponible */

.inputMoney2{
    font-size: 1rem;
    height: 5vh;
    width: 10vh;
}/*  Se achica el input para ingresar monto gasto
 */

.totalIncome{
    height: 8vh;
    width: 10vh;
    font-size: 0.5rem;
    padding: 0.3rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}/* Se reduce el Div que contiene el resumen del total disponible */

.divTotalAmmount{
    font-size: 1rem;
    height: 7vh;
    width: 12vw;
    text-align: center;
}/*  Se achiica div dinero disponible */
.jsclass{
    font-size: 1rem;
}/*  Se reduce fuente de elementos generados desde Js */

.trashBtn{
    font-size: 1rem;
} /* Se reduce tamaño de boton para eliminar lineas */

.trashBtn:hover{
    font-size: 1.5rem;
}

}

@media (max-width: 250px){
    h1{
        font-size: 0.4rem; 
    }
} /* Se achica tamaño titulo navBar */



